<!-- Main container -->
<div class="container mt-5 mb-5">
    <div class="row">
        <!-- Empty row -->
        <div class="col-lg-3"></div>
        <!-- Form for the attendee: name, category, party favor -->
        <div class="col-lg-6 main-container p-5">
                <form class="create-form">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="party-attendee"><h5>Your Name:</h5></label>
                                <input type="text" id="party-attendee" name="party-attendee">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="dropdown">
                            <button class="btn dropdown-toggle button-dropdown" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                                Select a category
                            </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                    <li><button class="party-dropdown-beverages button-dropdown-li" type="button">BEVERAGES</button></li>
                                    <li><button class="party-dropdown-food button-dropdown-li" type="button">FOOD</button></li>
                                    <li><button class="party-dropdown-other button-dropdown-li" type="button">OTHER</button></li>
                                </ul>
                            </div>
                        </div>
                    <div class="form-group">
                        <label for="party-favor"><h5>What do you bring to the party?</h5></label>
                        <input type="text" id="party-favor" name="party-favor">
                    </div>
                    <div class="d-flex justify-content-center pt-4">
                        <button id="party-favor-button" type="submit">LET'S CELEBRATE!</button>
                    </div>
                </form>
        </div>
        <!-- Empty row -->
        <div class="col-lg-3"></div>
    </div>

    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3 m-4 beverages-card">
            <h3>BEVERAGES:</h3>
            <ul class="insert-beverages"></ul>
        </div>
        <div class="col-lg-3 m-4 food-card">
            <h3>FOOD:</h3>
            <ul class="insert-food"></ul>
        </div>
        <div class="col-lg-3 m-4 other-card">
            <h3>OTHER:</h3>
            <ul class="insert-other"></ul>
        </div>
    </div>
</div>