/* Body image main cover */
body {
    background-color: #EDEDF5;
}
h1, h2, h3, h4, h5 {
    font-family: 'Oswald', sans-serif;
}
h5 {
    font-weight: 400;
    font-size: 16px;
}
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
/* buttons style */
button {
    background-color: #5089F4;
    border: none;
    color: white;
    padding: 14px 38px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    border-radius: 30px;
}
/* buttons style when hover */
button:hover {
    background-color: #7D51C4; 
}
/* input text style */
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #dedeeb;
    border-radius: 8px;
    background-color: #EDEDF5;
}
/* input time style */
input[type=time] {
    padding: 6px 16px;
    margin: 8px 0;
    margin-left: 4px;
    border: 1px solid #dedeeb;
    border-radius: 8px;
    background-color: #EDEDF5;
}
/* input date style */
input[type=date] {
    padding: 6px 12px;
    margin: 8px 0;
    margin-left: 8px;
    border: 1px solid #dedeeb;
    border-radius: 8px;
    background-color: #EDEDF5;
}
/* input date style */
select {
    height:48px;
    padding: 6px 12px;
    margin: 8px 0;
    border: 1px solid #dedeeb;
    border-radius: 8px;
    background-color: #EDEDF5;
    color: #19191a;
    padding: 4px 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
/* form group div spacing */
.form-group {
    margin-top: 12px;
    margin-bottom: 12px;
}
/* main container style */
.main-container {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.07), 0 2px 4px rgba(0,0,0,.07), 0 4px 8px rgba(0,0,0,.07), 0 8px 16px rgba(0,0,0,.07), 0 16px 32px rgba(0,0,0,.07), 0 32px 64px rgba(0,0,0,.07);
}
/* Event card style */
.event-card {
    border-top: 5px solid #5089F4;
    background-color: #fff;
    margin: 12px;
    padding: 16px;
    padding-left: 22px;
    padding-right: 22px;
}
.event-card-name {
    font-size: 12px;
}
.enter-party {
    background-color: white;
    border: 1px solid #5089F4;
    color: #5089F4;
    padding: 12px 32px;
    margin-top: 2px;
    margin-bottom: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    border-radius: 30px;
}
.enter-party:hover {
    background-color: #5089F4; 
    color: #fff;
}
/* Card styling in the party page: Beverages list */
.beverages-card {
    border-top: 5px solid #cab1d4;
    background-color: #fff;
    padding: 16px;
    padding-left: 22px;
    padding-right: 22px;
}
/* Card styling in the party page: Food list */
.food-card {
    border-top: 5px solid #90c8c4;
    background-color: #fff;
    padding: 16px;
    padding-left: 22px;
    padding-right: 22px;
}
/* Card styling in the party page: Other list */
.other-card {
    border-top: 5px solid #7d93c0;
    background-color: #fff;
    padding: 16px;
    padding-left: 22px;
    padding-right: 22px;
}
/* Center text */
.center {
    text-align: center;
}
body { 
    background: url('/assets/img/dolorspark.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }